@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

body {
    font-family: 'lato',sans-serif;
    box-sizing: border-box;
}

body.active {
    overflow-y: hidden;
    display: inline;
}

#mobile-navbar.active {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 1;
}

#mobile-navbar.active #mobile-nav-menu {
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.mobile-nav-link a {
    text-decoration: none;
    margin-right: 90px;
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

#hamb.active {
    float: left;
    margin-top: 20px;
    margin-right: 35px;
}

#headline.active {
    filter: blur(4px);
}

#hamb.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #000;
}

#hamb.active .bar:nth-child(2) {
    opacity: 0;
}

#hamb.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #000;
}

header {
    top: 0;
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 20px 36px 15px 24px;
    box-sizing: border-box;
    z-index: 1;
}

nav {
    display: block;
}

#nav-menu {
    display: none;
}

#mobile-navbar {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

#hamb {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(77, 75, 75);;
}

#mobile-nav-menu {
    display: none;
}

#headline {
    position: relative; 
}

#headline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url(../assets/headline-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#headline-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#inro-header {
    position: relative;
    margin-left: 5%;
    color: rgb(12, 14, 34);
    font-size: 1.5rem;
}

#content-header {
    margin-left: 5%;
    font-weight: 900;
    font-size: 2.5rem;

}

#headline-message {
    position: relative;
    z-index: 2;
    border: 1px solid;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: baseline;
}

#headline-date {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
    box-sizing: border-box;
    align-items: baseline;
}

#headline-location {
    position: absolute;
    color: black;
    text-align: center;
    margin-top: 530px;
    margin-left: 25%;
    z-index: 2;
}

#features {
    background: #272a31 url(../assets/pattern-bg.png);
}

#features-header {
    position: relative;
    align-self: center;
    font-family: 'lato',sans-serif;
    color: #fff;
}

#features-line {
    position: absolute;
    top: 60%;
    padding-left: 40px;
    color: orangered;
}

#features-container {
    display: flex;
    flex-direction: column;
}

#features-list {
    display: grid;
    margin-top: 15%;
    grid-template: repeat(5, 1fr) / 1fr;
    gap: 20px;
}

.feature-cards {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5%;
}

.feature-cards h3 {
    color: orangered;
    text-align: center;
    margin-left: 15px;
    font-size: 1.2rem;
    padding: 0;
    font-family: 'lato',sans-serif;
}

.feature-cards i {
    font-size: 3rem;
    color: #fff;
    
}

.feature-cards p {
    color: #fff;
    margin-left: 10px;
}

#join {
    height: 50px;
    width: 50%;
    border-radius: 25px;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 25px;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
}

#featured-speakers {
    margin: 10% 0 10%;
}

#featured-speakers .container {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 50px;
    align-items: center;
}

.speaker {
    display: flex;
}

.speaker-img {
    position: relative;
}

.speaker-img img {
    width: 130px;
    height: 130px;
    margin: 12px 20px 0 12px;
}

.speaker-desc h3 {
    font-family: 'lato',sans-serif;
    color: black;
    font-weight: 800;
}

.speaker-desc h4 {
    margin-top: 10px;
    font-family: 'lato',sans-serif;
    color: orangered;
    font-style: italic;
    font-weight: 400;
}

.speaker-desc hr {
    width: 30px;
    color: #fff;
    margin: 6px 0 10px;
}

#about {
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #000;
    background: url(../assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about .container {
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 140px 0 10%;
}

#about h2 {
    text-align: center;
    color: orangered;
    font-weight: 500;
}

#about h1 {
    color: orangered;
    text-align: center;
    font-weight: 900;
}

#about-message {
    position: relative;
    background-color: white;
    color: grey;
    padding: 5%;
    border: 1px orangered;
    margin-top: 5%;
    z-index: 2;
}

#about p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
}

#contact {
    color: #000;
    text-align: center;
    font-weight: normal;
    margin-top: 5%;
}

#contact a {
    text-decoration: none;
    color: orangered;
}

#about-logo {
    margin: 10% 0 0;
    padding-bottom: 10%;
    border-bottom: 0.5px solid #d9dbdd;
}

#about-logo .container {
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-logo h2 {
    color: #000;
    font-weight: 500;
    text-align: center;
    font-family: 'lato',sans-serif;
}

.about-hr {
    width: 40px;
    margin: auto;
    margin-top: 10px;
    border-color: orangered;
    margin-bottom: 30px;
}

#about-logo p {
    color: grey;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.4;
    font-family: 'lato',sans-serif;
}

#about-logo #logo {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 9%;
}

#logo img {
    width: 50%;
    max-width: 500px;
}

#past-bootcamps {
    margin: 10% 0 10%;
}

#past-bootcamps .container {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#past-bootcamps h2 {
    color: #000;
    font-weight: 500;
    text-align: center;
    font-family: 'lato',sans-serif;
}

#past-bootcamps p {
    color: grey;
    line-height: 1.4;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    font-family: 'lato',sans-serif;
}

#bootcamp-cards {
    margin: 10% 0 10% 0;
    width: 100%;
    align-items: center;
    gap: 10%;
    display: grid;
    grid-template: 1fr 1fr /1fr;
}

.card-one {
    min-height: 250px;
    position: relative;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(177, 19, 19, 0.6);
}

.card-one::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../assets/bootcamp-one.jpg) 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bootcamp-card h3 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: 'lato',sans-serif;
}

#bootcamp-cards .bootcamp-card p {
    text-align: center;
    color: #fff;
    line-height: 1.4;
    font-size: 0.9rem;
    font-weight: normal;
    font-family: 'lato',sans-serif;
}

.card-two {
    min-height: 250px;
    position: relative;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(177, 19, 19, 0.6);
}

.card-two::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../assets/bootcamp-two.jpg) 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#partners {
    margin: 80px 0 0;
    background: rgb(53, 53, 53);
    min-height: 150px;
}

#partners .container {
    padding: 10% 0 10%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#partners h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    font-family: 'lato',sans-serif;
}

#partner-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.partner-link a {
    text-decoration: none;
    color: rgb(201, 186, 186);
    font-size: 1.9rem;
    text-align: center;
    margin-top: 20px;
}

.font-awesome {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

#footer {
    padding: 15px 0 5px;
}

#footer .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer img {
    width: 80px;
    margin-right: 20px;
}

#footer .container p {
    font-family: 'lato',sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    color: #000;
}